<mat-card>
  
  <mat-card-content>
    <h3>
      Welcome to Remote Work Savings Calculator!
    </h3>
    <p class="indented">
      The free online tool that helps you estimate both current and potential savings by working remotely.
    </p>
    <p class="indented">      
      Our calculator is designed to provide you with an easy and accurate estimate of how much you can save by working from home, 
      whether you're already working remotely or considering a remote work arrangement. 
    </p>
    <p class="indented">
      Our tool takes into account various factors such as commute costs, transportation, and food expenses to give you an estimate of your current savings. 
      Additionally, you can use our calculator to estimate the potential savings of a remote work arrangement, such as reduced costs associated with work-related clothing and equipment. 
    </p>
    <p class="indented">
      The best part? There's no need to sign up or provide any personal information to use our calculator. 
      Simply enter your basic work information and let our tool do the rest. 
      With Remote Savings Calculator, you can make informed decisions about your work arrangements and take control of your finances.
    <h3>
      Click below to get started!
    </h3>
  </mat-card-content>    
</mat-card>

<app-navigation></app-navigation>
