.report-summary-container {
  display: flex;
  flex-wrap: wrap;

  .report-summary-item {
    flex-basis: 100%;
  }
}

.share-style {
  margin-top: 10px;
}

.pdf-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.report-body-container {
  display: flex;
  flex-wrap: wrap;

  .mat-card {
    display: flex;
    flex-direction: column;    

    max-width: 350px;
    min-width: 310px;
    margin: 3px;

    .pie-label-style {
      font-size: 11px;
      fill: white !important;
    }

    mat-card-title {
      text-align: center;
      padding-bottom: 10px;
      font-size: large;
    }

    mat-card-header {
      text-align: center;
      margin-right: 16px;
    }

    .mat-card-content {
      display: flex;

      .chart-item {
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    .report-table {
      width: 100%;
      height: 300px;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;

      .th,
      td {
        padding: 5px;
        text-align: left;        
      }

      th {
        background-color: #f2f2f2;
      }

      td {
        border: none;
      }
    }

    .even-row {
      background-color: #6aa8b1;
    }

    .odd-row {
      background-color: #7e7d85;
    }
  }
}

@media (max-width: 720px) {
  .report-body-container {
    display: flex;
    flex-direction: column;

    .mat-card {
      max-width: 330px;

      .mat-card-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
