mat-card {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-header,
h2 {
  text-align: center;
  margin-right: 16px;
}

mat-form-field {
  margin-bottom: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
