:root {
  --iconWidth: 56px;
}

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: var(--iconWidth);
}

@media (max-width: 720px) {

  .sidenav-toggle {
    display: flex;
    padding: 0;
    margin: 8px;
    min-width: var(--iconWidth);
    align-items: center;
    justify-content: center;  
  }
}

.sidenav-toggle, mat-icon {
  font-size: 30px;
  height: var(--iconWidth);
  width: var(--iconWidth);
  line-height: var(--iconWidth);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

progress {  
  width: 100%;    
  margin-left: 10px;
  margin-right: 10px;  
  border-radius: 10px;
  border-width: 0;
}

progress::-webkit-progress-bar {
  background-color: white;    
}

progress::-webkit-progress-value {
  background-color: blue;  
}