<mat-card>
  <mat-card-header>
    <mat-card-title> About </mat-card-title>      
  </mat-card-header>
  <mat-card-content>
    <div class="sharethis-inline-follow-buttons"></div>
    <hr>
    <p class="indented">
      Welcome to our remote work savings calculator! At Remote Work Savings, 
      we are dedicated to helping you unlock the financial benefits of remote work. 
      Our platform leverages data from the U.S. Energy Information Administration 
      <a href="https://www.eia.gov/">EIA.gov</a> 
      to provide you with accurate and up-to-date calculations on the potential savings you can achieve by working remotely.
    </p>
    <p class="indented">
      Remote work has become an increasingly popular choice for individuals and businesses alike. 
      With the flexibility to work from anywhere, you can save on commuting costs, reduce your carbon footprint, and enjoy a better work-life balance. 
      Our calculator takes into account various factors such as average commuting distance, fuel prices, food/beverage costs, child care, and more 
      to give you an estimate of your potential savings.
    </p>
    <p class="indented">
      We pride ourselves on the reliability and accuracy of our calculations. 
      By sourcing data directly from EIA.gov, a trusted authority in energy statistics, 
      we ensure that our results are based on the most reliable information available. 
      We believe in transparency, and that's why we invite you to check out our <a href="https://github.com/michaelp1985">GitHub</a> page, 
      where you can explore the source code behind our calculator.
    </p>
    <p class="indented">
      To stay connected with us and receive updates on the latest features and improvements, 
      feel free to connect with me on <a href="https://www.linkedin.com/in/michaelpetty-stl/">LinkedIn</a>. 
      I'm always open to networking and discussing ideas related to remote work and its financial implications.
    </p>
  </mat-card-content>
</mat-card>